<a href="https://colab.research.google.com/github/SnapeSnoop/UAS_MachineLearning_IrfanPurwo_EkaMahendraB/blob/main/UAS_MachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Klasifikasi Jenis Perumahan Menggunakan Metode Decision Tree
- Nama  Kelompok : 
                  - Eka Mahendra Bagaskara
                  - 2241727009
                  - Irfan Purwo 
                  - 22417271017
- Kelas          : 4-J

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

###Preporcess

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataset_rumah.csv')
data.head()

      Tipe  Luas Tanah  Luas Bangunan      Harga    Jenis
0   Seruni          70             36  350000000  Standar
1     Lily          75             39  400000000  Standar
2  Anggrek          87             47  450000000  Standar
3  Cendana          90             49  500000000   Medium
4    Tulip         105             54  600000000   Medium

In [ ]:
data.dtypes

Tipe             object
Luas Tanah        int64
Luas Bangunan     int64
Harga             int64
Jenis            object
dtype: object

##Training Data
Menggunakan 3 variable x dan 1 variable y

In [ ]:
from numpy.core.arrayprint import format_float_positional
y = data['Jenis'].map({'Standar':1, 'Medium':2, 'Premium':0})
X1 = data['Luas Tanah']
X2 = data['Luas Bangunan']
X3 = data['Harga']

v1=[]
v2=[]
v3=[]
for x1 in X1:
  v1.append(x1)
for x2 in X2:
  v2.append(x2)
for x3 in X3:
  v3.append(x3)
format_float_positional

X = pd.DataFrame()

X['Luas Tanah'] = v1
X['Luas Bangunan'] = v2
X['Harga'] = v3
print(X)

    Luas Tanah  Luas Bangunan      Harga
0           70             36  350000000
1           75             39  400000000
2           87             47  450000000
3           90             49  500000000
4          105             54  600000000
5           54             54  750000000
6           75             36  300000000
7           87             36  400000000
8          105             36  450000000
9           90             36  425000000
10         105             36  475000000
11          93             36  500000000
12          54             54  800000000
13          90             36  575000000
14          88             39  500000000
15         105             39  625000000
16          90             47  600000000
17          60             49  700000000
18          72             60  800000000
19          90             60  820000000
20          90             70  850000000
21         105             70  880000000
22         130            120  900000000
23         145            120  950000000

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, shuffle=True)

### Evaluasi classification tree
Mengevaluasi kinerjanya pada set pengujian. yang akan  menggunakan metrik akurasi yang sesuai dengan fraksi prediksi yang benar dan dibuat pada set pengujian.

In [ ]:
dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)

y_pred_dt = dt.predict(X_test)

acc_dt = accuracy_score(y_test, y_pred_dt)
print("Test set accuracy: {:.2f}".format(acc_dt))
print(f"Test set accuracy: {acc_dt}")

Test set accuracy: 0.62
Test set accuracy: 0.625

###Gini Dan Entropy

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dt_entropy = DecisionTreeClassifier(max_depth=8, criterion='entropy', random_state=1)

dt_entropy.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=8, random_state=1)

In [ ]:
dt_gini = DecisionTreeClassifier(max_depth=8, criterion='gini', random_state=1)
dt_gini.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=8, random_state=1)

In [ ]:
from sklearn.metrics import accuracy_score
y_pred = dt_entropy.predict(X_test)
y_pred_gini = dt_gini.predict(X_test)

accuracy_entropy = accuracy_score(y_test, y_pred)
accuracy_gini = accuracy_score(y_test, y_pred_gini)

# Print accuracy_entropy
print("Accuracy achieved by using entropy: ", accuracy_entropy)

# Print accuracy_gini
print("Accuracy achieved by using gini: ", accuracy_gini)

Accuracy achieved by using entropy:  0.625
Accuracy achieved by using gini:  0.625

###Training Menggunakan Regression Tree

In [ ]:
from sklearn.tree import DecisionTreeRegressor

# Instantiate dt
dt = DecisionTreeRegressor(max_depth=8, min_samples_leaf=0.3, random_state=10)

# Fit dt kedalam the training set
dt.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=8, min_samples_leaf=0.3, random_state=10)

### Evaluasi Regression Tree

In [ ]:
from sklearn.metrics import mean_squared_error

y_pred = dt.predict(X_test)

mse_dt = mean_squared_error(y_test, y_pred)

# Compute rmse_dt
rmse_dt = mse_dt ** (1/2)

# Print rmse_dt
print("Test set RMSE dt: {:.2f}".format(rmse_dt))

Test set RMSE dt: 0.66

###Training dengan Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(X_train, y_train)

LinearRegression()

###Testing Regression Tree dengan Linear Regression Tree

In [ ]:
y_pred_lr = lr.predict(X_test)

mse_lr = mean_squared_error(y_test, y_pred_lr)

rmse_lr = mse_lr ** 0.5

print("Linear Regression test set RMSE: {:.2f}".format(rmse_lr))

print("Regression Tree test set RMSE: {:.2f}".format(rmse_dt))

Linear Regression test set RMSE: 0.29
Regression Tree test set RMSE: 0.66